body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.dark-theme {
    background-color: #2d2c2c;
    color: #ffffff;
} 
  
  .login-container {
    text-align: center;
  }
  
  .login-form {
    border: 2px solid #ccc;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }

  #themeToggle {
    width: 30%;
    padding: 10px;
    background-color:#23ac85;
    color: #ffffff;
    border: none;
    align-items: center;
  }

  #login {
    width: 50%;
    align-items: center;
    align-self: center;
    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
  }